<header>
  <!-- Navbar -->
  <nav class="flex items-center justify-between flex-wrap bg-red-800 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6 p-6 border-r-2">
      <span class="font-semibold text-3xl tracking-tight">{{ title }}</span>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-xl lg:flex-grow text-white">
        <a routerLink="" routerLinkActive="active" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-red-300 mr-4">
          Accueil
        </a>
        <a routerLink="comics" routerLinkActive="active" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-red-300 mr-4">
          Liste
        </a>
        <a routerLink="new" routerLinkActive="active" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-red-300 mr-4">
          Ajouter
        </a>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>

<body class="bg-gray-100">
<router-outlet></router-outlet>
</body>

<footer class="p-4 bg-white-100 rounded-lg shadowmd:px-6 md:py-8 bottom-0 left-0 right-0">
  <div class="sm:flex sm:items-center sm:justify-between">
    <a  routerLink="" routerLinkActive="active" class="flex items-center mb-4 sm:mb-0">
      <img src="assets/logo.png" class="mr-3 h-8" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">ComicsThèque</span>
    </a>
    <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
      <li>
        <a routerLink="" routerLinkActive="active" class="mr-4 hover:underline md:mr-6 ">Accueil</a>
      </li>
      <li>
        <a routerLink="/comics" routerLinkActive="active" class="mr-4 hover:underline md:mr-6">Liste</a>
      </li>
      <li>
        <a routerLink="/new" routerLinkActive="active" class="mr-4 hover:underline md:mr-6 ">Ajouter</a>
      </li>
    </ul>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">2023 <a href="https://mattfritsch.github.io/" class="hover:underline">Matthieu FRITSCH™</a>.
    </span>
</footer>

