
<button routerLink="/comics" routerLinkActive="active" class="bg-white hover:bg-red-300 text-gray-800 font-semibold py-2 ml-6 mt-6 mb-6 px-4 border border-red-700 rounded shadow">
  Retour
</button>
<div class="flex flex-col justify-center p-9 border rounded-xl m-6" [ngClass]="{ 'border-red-700' : comic.universe === 'marvel',
'border-blue-800' : comic.universe === 'dc'}">
  <h1 class="font-bold text-center text-4xl">{{comic.name}} <span *ngIf="comic.seriesNumber != ''">#{{comic.seriesNumber}}</span></h1>
  <h2 class="font-bold text-center text-xl mb-11" *ngIf="comic.typeOfList === 'readingList'">Liste de lecture</h2>
  <h2 class="font-bold text-center text-xl" *ngIf="comic.typeOfList === 'wishList'">Liste d'envie</h2>
  <div class="flex flex-row justify-center">
    <div class="flex flex-col justify-center mt-6">
      <img class="w-1/2" [src]="comic.cover" alt="{{comic.name}} cover">
    </div>
    <div class="flex flex-col justify-center text-white rounded-xl p-2 text-center mt-6" [ngClass]="{ 'bg-red-700' : comic.universe === 'marvel',
  'bg-blue-800' : comic.universe === 'dc'}">
      <p class="font-semibold">{{comic.description}}</p>
      <br>
      <p>Par <span class="font-bold">{{comic.author}}</span></p>
      <p>Dessiné par <span class="font-bold">{{comic.designer}}</span></p>
      <p>Sortie le <span class="font-bold">{{comic.releaseDate}}</span></p>
      <br>
      <p *ngIf="comic.isSerie">Ce comic fait partie d'une série, et est le numéro <span class="font-bold">{{comic.seriesNumber}}</span> de la série</p>
      <p *ngIf="comic.isRead">Vous avez <span class="font-bold">lu</span> {{comic.name}}</p>
      <p *ngIf="!comic.isRead">Vous n'avez <span class="font-bold">pas lu</span> {{comic.name}}</p>
    </div>
  </div>
</div>
