<div class="flex flex-col justify-between items-center bg-gray-100 w-full">
  <img src="assets/banner.png" class="w-full" alt="banner">
  <div class="flex flex-col justify-between p-6 text-center">
    <!--Card 1-->
    <div class="rounded overflow-hidden shadow-lg mb-24">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Liste</div>
        <p class="text-gray-700 text-base">
          Consulter votre liste des comics que vous avez enregistrés. Vous pourrez y retrouver votre wishlist et votre
          liste de lecture
        </p>
      </div>
      <div class="px-6 pt-4 pb-2 text-center">
        <button routerLink="comics"
                routerLinkActive="active"
                class="bg-white hover:bg-red-300 text-gray-800 font-semibold py-2 px-4 border
                border-red-700 rounded shadow">
          Consulter ma liste !
        </button>
      </div>
    </div>
    <!--Card 2-->
    <div class="rounded overflow-hidden shadow-lg ">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Ajouter</div>
        <p class="text-gray-700 text-base">
          Ajouter de nouveaux comics a votre liste ! Vous pourrez ajouter un comic dans une des deux listes disponible,
          en y renseignant plusieurs informations sur le comic que vous désirez.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2 text-center">
        <button routerLink="new"
                routerLinkActive="active"
                class="bg-white hover:bg-red-300 text-gray-800 font-semibold py-2 px-4 border
                border-red-700 rounded shadow">
          Ajouter un comic !
        </button>
      </div>
    </div>
  </div>
</div>
